<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administración de Doctores</title>
    <link rel="stylesheet" href="/static/styletablasadmin.css">
</head>
<body>
    <button class="back-arrow" title="Retroceder" onclick="window.location.href='/'"></button>
    <div class="container">
        <h2>Doctores</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Doctor</th>
                    <th>Especialidad</th>
                    <th>Fecha Ingreso</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario._id }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.especialidad }}</td>
                    <td>{{ usuario.fecha_ingreso }}</td>
                    <td>{{ usuario.telefono }}</td>

                    <td>
                        <a href="{{ url_for('editar_doctor', id=usuario._id) }}">
                            <button class="btn editar">Editar</button>
                        </a>

                        <a href="{{ url_for('eliminar_doctor', id=usuario._id) }}"
                           onclick="return confirm('¿Deseas eliminar este doctor?');">
                            <button class="btn eliminar">Eliminar</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div style="margin-top: 20px; text-align: center;">
            <a href="/registro_doctor">
                <button class="btn agregar">Agregar Doctor</button>
            </a>
        </div>
    </div>
</body>
</html>
