<form class="form" action="/actualizar_cita" method="POST">
    <input type="hidden" name="id" value="{{ usuario['_id'] | string }}">

    <div class="inputBox">
        <input type="text" id="paciente" name="paciente" value="{{ usuario['paciente'] }}" required>
        <label for="paciente">Paciente</label>
    </div>

    <div class="inputBox">
        <input type="date" id="fecha" name="fecha" value="{{ usuario['fecha'] }}" required>
        <label for="fecha">Fecha</label>
    </div>

    <div class="inputBox">
        <input type="text" id="servicio" name="servicio" value="{{ usuario['servicio'] }}" required>
        <label for="servicio">Servicio</label>
    </div>

    <div class="inputBox">
        <input type="text" id="comentario" name="comentario" value="{{ usuario['comentario'] }}" required>
        <label for="comentario">Comentario</label>
    </div>

    <div class="inputBox">
        <input type="number" id="costo" name="costo" value="{{ usuario['costo'] }}" required>
        <label for="costo">Costo</label>
    </div>

    <div class="inputBox">
        <input type="text" id="doctor" name="doctor" value="{{ usuario['doctor'] }}" required>
        <label for="doctor">Doctor</label>
    </div>

    <input type="submit" value="Actualizar">
</form>
