<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if usuario %}Editar Cita{% else %}Nueva Cita{% endif %}</title>
    <link rel="stylesheet" href="/static/stylesadminitration.css" />
</head>
<body>
    <button class="back-arrow" title="Retroceder" onclick="window.location.href='/lista_citas'"></button>
    <div class="box">
        <form class="form" action="/guardar_cita" method="POST">
            <h2>{% if usuario %}Editar Cita{% else %}Nueva Cita{% endif %}</h2>

            {% if usuario %}
                <input type="hidden" name="id" value="{{ usuario['_id'] }}" />
            {% endif %}

            <div class="inputBox">
                <input 
                    type="text" 
                    id="paciente" 
                    name="paciente" 
                    value="{{ usuario['paciente'] if usuario else '' }}" 
                    required 
                />
                <span for="paciente">Paciente</span>
            </div>

            <div class="inputBox">
                <input 
                    type="date" 
                    id="fecha" 
                    name="fecha" 
                    value="{{ usuario['fecha'] if usuario else '' }}" 
                    required 
                />
                <span for="fecha">Fecha</span>
            </div>

            <div class="inputBox">
                <label for="servicio">Servicio</label>
                <select class="form-control" id="servicio" name="servicio" required>
                    <option value="" disabled selected>Servicio</option>
                    {% for valores in ls %}
                    <option value="{{ valores }}">{{ valores }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="inputBox">
                <input 
                    type="text" 
                    id="comentario" 
                    name="comentario" 
                    value="{{ usuario['comentario'] if usuario else '' }}" 
                    required 
                />
                <span for="comentario">Comentario</span>
            </div>

            <div class="inputBox">
                <input 
                    type="number" 
                    id="costo" 
                    name="costo" 
                    value="{{ usuario['costo'] if usuario else '' }}" 
                    required 
                />
                <span for="costo">Costo</span>
            </div>

            <div class="inputBox">
                <label for="doctor">Doctor</label>
                <select class="form-control" id="doctor" name="doctor" required >
                    <option value="" disabled selected>Doctor</option>
                    {% for valores in ld %}
                    <option value="{{valores}}" >{{valores}}</option>
                    {% endfor %}
                </select>
                
                
            </div>
            <input 
                type="submit" 
                value="{% if usuario %}Actualizar{% else %}Crear{% endif %}" 
            />

            {% if mensaje %}
                <p style="color: green; text-align: center;">{{ mensaje }}</p>
            {% elif error %}
                <p style="color: red; text-align: center;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
