<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="/static/styletablasadmin.css">
</head>
<body>
    <button class="back-arrow" title="Retroceder" onclick="window.location.href='/'"></button>

    <div class="container">
        <h2>Servicios</h2>
        <table >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Duración</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <td>{{ u.nombre }}</td>
                    <td>{{ u.descripcion }}</td>
                    <td>{{ u.costo }}</td>
                    <td>{{ u.duracion }}</td>
                    <td>
                        <a href="/editar_servicios/{{ u._id }}"><button class="btn editar">Editar</button></a>
                        <a href="/eliminar_servicio/{{ u._id }}"onclick="return confirm('¿Deseas eliminar esta cita?');">
                            <button class="btn eliminar">Eliminar</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div style="margin-top: 20px; text-align: center;">
            <a href="/registro_serv">
                <button class="btn agregar">Agregar Cita</button>
            </a>
        </div>

    </div>

</body>
</html>
